@model RentalMaster.Models.RentalItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RentalItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentalItemMake)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentalItemMake.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentalItemModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentalItemModel.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentalItemStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentalItemStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
