@model IEnumerable<RentalMaster.Models.RentalItemMake>

@{
    ViewData["Title"] = "Index - Make";
}

<h1>Makes</h1>

<p>

    <th>
        <a asp-action="Create" class="text-center btn btn-outline-success"><i class="far fa-plus-square"></i>Create New Make</a>
    </th>
    <th>
        <a asp-controller="RentalItemModel" asp-action="Index" class="text-center btn btn-outline-success"><i class="far fa-plus-square"></i> Models </a>
    </th>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
