@model RentalMaster.Models.RentalAgreement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RentalAgreement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentalStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentalStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentalEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentalEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentalReturnedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentalReturnedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentalItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentalItem.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
