@model IEnumerable<RentalMaster.Models.RentalAgreement>

@{
    ViewData["Title"] = "Rental Agreements";
}

<h1>Index</h1>


    <th>
        <a asp-action="Create" class="text-center btn btn-outline-success"><i class="far fa-plus-square"></i>New Agreement</a>
    </th>
    <th>
        <a asp-controller="Customer" asp-action="Index" class="text-center btn btn-outline-success"><i class="far fa-plus-square"></i> Customers </a>
    </th>
    <th>
        <a asp-controller="RentalItem" asp-action="Index" class="btn btn-outline-success"><i class="far fa-plus-square"></i> Rental Items </a>
    </th>

<hr/>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by: <input type="text" name="SearchString">
            <input type="submit" value="Search" class="btn btn-default" />
            <a asp-action="Index" Back to Full list></a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RentalStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalItem)
            </th>
            <th>
                Make
            </th>
            <th>
                Model
            </th>
            <th>
               
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RentalStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalItem.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalItem.RentalItemMake.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalItem.RentalItemModel.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
