@model IEnumerable<RentalMaster.Models.RentalAgreement>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <th>
        <a asp-action="Create" class="text-center btn btn-outline-success"><i class="far fa-plus-square"></i>Create New Item</a>
    </th>
    <th>
        <a asp-controller="Customer" asp-action="Index" class="text-center btn btn-outline-success"><i class="far fa-plus-square"></i> Customers </a>
    </th>
    <th>
        <a asp-controller="Customer" asp-action="Create" class="btn btn-outline-success"><i class="far fa-plus-square"></i> Create Customer </a>
    </th>
    <th>
        <a asp-controller="RentalItem" asp-action="Index" class="btn btn-outline-success"><i class="far fa-plus-square"></i> Rental Items </a>
    </th>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RentalStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalReturnedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalItem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RentalStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalReturnedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Adresse1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalItem.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
